$base-background: rgb(60,63,65);
$base-text-color: rgb(187,187,177);
$green: #66BB66;
$red: #EE4444;
$blue: #1C5166;

$font-size: 8px;
$border-color: #3A6A3A;
$class-name-background: $blue;//#4BE8D9;
$class-text-color: base-text-color;
$success-color: $green;
$error-color: $red;
$running-border-color: yellow;
$body-background: $base-background;

body{
  font-family: mono;
  font-size: $font-size;
  background-color: $body-background;
  color: $base-text-color;
}

span.imageContainer{
  max-height: 1em;
  margin-right: 3px;
  img{
    max-height: 1em;
  }
}

.test-suite{
  width:320px;
}

.minimized{
  .test-name{
    display: none;
  }
}

.test-file{
  padding-bottom: 1em;
}

.file-name{
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 2px;
}

.test-classes{
  border: 1px solid $border-color;
}

.test-class{
  height: auto;
}

.test-class-name{
  flex-grow:1;
  display:flex;
  //border-top: 1px $border-color solid;
  //border-left: 1px $border-color solid;
  justify-content: center;
  align-items: center;
  padding: 2px 4px 2px 4px;
  overflow: hidden;
  font-weight: bold;
  background-color: $class-name-background;
  color:$class-text-color;
}

.test-class-tests {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  //margin-top: 5px;
  //border-bottom: 1px $border-color solid;
  //border-right: 1px $border-color solid;
}

.test{
  flex-grow:1;
  display:flex;
  //border-top: 1px $border-color solid;
  //border-left: 1px $border-color solid;
  background-color: $base-background;
  justify-content: center;
  align-items: center;
  padding: 2px 4px 2px 4px;
  overflow: hidden;
  &.running{
    border: 1px solid $running-border-color;
  }
  &.success{
    .imageContainer{
      color: $success-color;
    }
  }
  &.error{
    .imageContainer{
      color: $error-color;
    }
  }
  &.ignored{
    .imageContainer{
      color: yellow;
    }
  }
  &.stale{
     opacity: 0.5;
  }
  // &.stale.success{
  //   background: linear-gradient(white, $success-background-color);
  // }
}


.arrow{
  margin-left: 3px;
  margin-bottom: 0.2em;
}
