$border-color: #3A6A3A;
$class-name-background: #4BE8D9;
$success-background-color: #66BB66;
$error-background-color: #EE4444;
$running-border-color: yellow;

body{
  font-family: mono;
}

.test-suite{
  width:320px;
  font-size:8px;
}

.test-file{
  padding-bottom: 1em;
}

.file-name{
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 2px;
}

.test-classes{
  border: none;
}

.test-class{
  height: auto;
}

.test-class-name{
  flex-grow:1;
  display:flex;
  border-top: 1px $border-color solid;
  border-left: 1px $border-color solid;
  justify-content: center;
  align-items: center;
  padding: 2px 4px 2px 4px;
  overflow: hidden;
  font-weight: bold;
  background-color: $class-name-background;
}

.test-class-tests {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  margin-top: 5px;
  border-bottom: 1px $border-color solid;
  border-right: 1px $border-color solid;
}

.test{
  flex-grow:1;
  display:flex;
  border-top: 1px $border-color solid;
  border-left: 1px $border-color solid;
  justify-content: center;
  align-items: center;
  padding: 2px 4px 2px 4px;
  overflow: hidden;
  &.runing{
    border: 2px solid $running-border-color;
  }
  &.success{
    background-color: $success-background-color;
  }
  &.error{
    background-color: $error-background-color;
  }
  &.stale.error{
    background: linear-gradient(white, $error-background-color);
  }
  &.stale.success{
    background: linear-gradient(white, $success-background-color);
  }
}


.arrow{
  margin-left: 3px;
  margin-bottom: 0.2em;
}
