// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import (inline) "../node_modules/sb-react-table/styles/base.css";
@import "ui-variables";

.python-runtime-info {

}


.python-runtime-info-underline{
  text-decoration: underline;
  text-decoration-color: @text-color-error;
  text-decoration-style: dotted;
}


.python-runtime-info-gutter-item{
  color: @text-color-error;
  padding: 2px;
  cursor: pointer;
}

.python-runtime-info-suffix{
  atom-overlay& {
    z-index: 0 !important
  }
  .python-runtime-info-suffix-item{
    color: @text-color-error;
  }
}

.tree-view-resizer,
.tab-bar,
.status-bar {
  z-index: 2;
}

.gutter{
  &[gutter-name='python-runtime-info-D']{
    .icon::before{
      display: inline;
    }
  }
  &[gutter-name='python-runtime-info-U']{
    .icon::before{
      display: inline;
    }
  }
}

#runtime-info-panel-item{
  .panel-control{
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .sb-table{
    width: 100%;
    color: @text-color;
    font-size: @font-size;
    border: 0;
    thead{
      background-color: @base-background-color;
    }
    tbody{
      background-color: @app-background-color;
      tr{
        cursor: pointer;
        &:hover{
          color: @text-color-highlight;
          background-color: @background-color-highlight;
        }
      }
    }
    th{
      padding: 3px 10px;
      border: @base-border-color 1px solid;
    }
    td{
      padding: 3px 10px;
      min-width: 100px;
      border: @base-border-color 1px solid;
    }
    .sort-icon{
      display: none;
    }
  }
}
